[submodule "TwitchLib.Unity.Shared"]
	path = TwitchLib.Unity.Shared
	url = https://github.com/RRickkert/TwitchLib.Unity.Shared.git
[submodule "TwitchLib.PubSub"]
	path = TwitchLib.PubSub
	url = https://github.com/RRickkert/TwitchLib.PubSub
